<div class= 'title'>
</div>
<div class="lastSentence">
  {{this.sentence}}
</div>
    
<form class ="form" action="/form/submit" method="POST">
  <div>
      <input class="sentence" type="text" name="sentence">
    </div>
  
  <div class="storyLine">
    <div class="lastSentence">
      {{table.sentence}}
    </div>
  
    <form class ="form" action="/form" method="POST">
      <div>
        <input class="sentence" type="text" name="sentence">  <input class="submit" type="submit" value="Submit">
      </div>
    </form>
  </div>
  
    <div class="instructions">
      <span style="text-decoration-line: underline;">Instructions</span><br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ea dolorem nostrum illo culpa minima necessitatibus, eveniet, harum quis error molestiae laudantium sunt autem, laboriosam ipsa reprehenderit quibusdam.
    </div>
  </div>