<div class= 'title'>
</div>
<div class="lastSentence">
  {{this.sentence}}
</div>
    
<form class ="form" action="/form/submit" method="POST">
  <div>
      <input class="sentence" type="text" name="sentence">
    </div>
    <div>
      <input class="submit" type="submit" value="Add sentence">
    </div>
</form>