<div class= 'title'>
</div>
<div class="lastSentence">
  {{this.sentence}}
</div>
    
  
    <form class="form" action="/form" method="POST">
      <div>
        <input class="sentence" type="text" name="sentence">
        <input class="submit" type="submit" value="Submit">
      </div> 
      </form>