
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet"> 
  </head>
<body>

  {{!-- CSS --}}
  <style>
    body {
      margin: 0;
      padding: 0;
      background-color: white;
      font-family: 'Noto Serif', serif;
      color: #000000;
      -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 3s; /* Firefox < 16 */
    }
    @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    }
  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  </style>

  <title>Never Ending Storyboard</title>
 
<style>
  .wrapperHome{
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 100vh;
      text-align: center;
      justify-items: center;
      align-items: center;
      font-size: 36px;
      border: 1px solid black;
    }

    .storyName{
      grid-column-start: 1;
      grid-column-end: 1;
      justify-self: end;
    }

    .startStory{
      grid-column-start: 2;
      grid-column-end: 2;
      justify-self: start;
      padding-left: 20px;
    }

    a {
      text-decoration: none;
      font-size: 36px;
      color: black;
    }

    a:hover{
      text-decoration: underline;
    }
</style>

<div class="wrapperHome">
  <div class="storyName">
    The Never Ending Story... 
  </div>
  <div class="startStory">
    {{#each info}}
      <a href="/form/{{this.id}}">{{this.storyName}}</a>
    {{/each}}
  </div>
</div>

</body>
</html>