<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet"> 
  </head>
<body>

  {{!-- CSS --}}
  <style>
    body {
      margin: 0;
      padding: 0;
      background-color: white;
      font-family: 'Noto Serif', serif;
      color: #000000;
      -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 3s; /* Firefox < 16 */
    }
    @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    }
  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  </style>

  <title>Never Ending Storyboard</title>
    <ul>
    {{#each info}}
      <a href="/form/{{this.id}}"><li>{{this.storyName}}</li></a>
    {{/each}}
    </ul>


</body>
</html>