<!DOCTYPE html>
<html>
  <head>
    <title>Never Ending Storyboard</title>
  </head>
  <body>
    <ul>
    {{#each info}}
      <a href="/form/{{this.id}}"><li>{{this.storyName}}</li></a>
    {{/each}}
    </ul>
  </body>
</html>