<style>
    .storyName{
    position: absolute;
    text-align: center;
    width: 433px;
    height: 50px;
    left: 35vw;
    top: 22px;
    font-size: 36px;
    }
    
    .fullStory{
      position: absolute;
      top: 13vh;
      left: 35vw;
      width: 433px;
      height: 70vh;
      padding: 10px;
      overflow: scroll;
    }
    
    
    </style>
    
    <div class="storyName">
        The Never Ending Story...
      </div>
    
    <div class="fullStory">
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quidem enim illo rem mollitia voluptatibus autem, placeat sunt necessitatibus illum animi inventore praesentium optio, soluta id. Vitae voluptatibus reprehenderit quos. </p>
    </div>